.divContainer {
  display: flex;
  flex-wrap: wrap;
}
img {
  height: 30vh;
  width: 45vw;
}
Scrollbar styling .ulContainer::-webkit-scrollbar {
  height: 10px;
}

.ulContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.ulContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.ulContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ulContainer {
  cursor: grab;
}

.ulContainer.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.ulContainer {
  display: flex;
  overflow-x: auto;
  width: 100vw;
  user-select: none;
  scrollbar-color: #888 #f1f1f1;
}
.mainContainer {
  background-color: aquamarine;
  padding: 10px;
  width: 100vw;
  overflow-x: hidden;
}
.name {
  margin: 0px;
  font-size: 40px;
  color: blue;
}
.livePara {
  margin: 0px;
}
.linkPara {
  color: black;
  margin: 0px;
  font-size: 16px;
}
.listContainer {
  background-color: wheat;
  list-style-type: none;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  margin: 10px;
  padding: 15px;
  border: 2px solid;
}
.nameProject {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  width: 20vw;
  margin: 3px;
  color: #483c32;
  font-size: 25px;
}
.listlogo {
  height: 60vh;
  width: 23vw;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
